---
---
<div>
  <p>
        <b>Here are a few things I have worked on in the past:</b>
      </p>
  <ul class="mt-5">
    <li>
      <strong><a href="">Koch curves.</a></strong>
      Named after the Swedish mathematician Helge von Koch, a koch curve is a type of fractal curve that is continuous everywhere but differentiable nowhere. In this post, we will learn how to implement a Koch curve in C using raylib.</li>
    <li>
      <strong><a href="">Boids: simulating flocks in go.</a></strong>
      Boids is an artificial life program, developed by Craig Reynolds in 1986, which simulates the flocking behaviour of birds. In this post, we will learn how to implement boids in Go.
    </li>
  <p>
    <b>Few things I'm currently working on:</b>
  <p>
  <ul class="mt-5">
    <li>
      <strong>Costadium.</strong>
      A speed networking platform for entrepreneurs, students, professionals, and hobbyists. The aim being to foster connection between busy people from different walks of life.</li>
    <li>
      <strong>Teleprompter.</strong>
      A text-scrolling app that uses speech recognition algorithms to give you the power of your local news anchor.
    </li>
    <li>
      <strong> Pixel Animator</strong> A pixel art animation tool that allows you to create pixel art animations with ease.
    </li>
    <li>
      <strong>Misc.</strong> A chess engine, a sudoku solver, a limit-order book, and various other projects that are still in there infancy.
    </li>
  </ul>
</div>


<!-- - Costadium  -->
<!-- A speed networking platform for entrepreneurs, students, professionals, and hobbyists. The aim being to foster connection between busy people from different walks of life. Creating an smooth and easy opportunity for people to get used to speaking to strangers again.  -->
<!---->
<!-- - Teleprompter -->
<!-- A text-scrolling app that uses speech recognition algorithms to give the power of your local news anchor. -->
<!---->
<!-- - Pixel Animator -->
<!-- A pixel art animation tool that allows you to create pixel art animations with ease. -->
<!---->
<!-- - Misc. -->
<!-- A Chess engine, A Sudoku solver, A limit-order book, and various other projects that are still in there infancy.  -->
<!---->
